<section id="login">
  <div class="container-fluid pt-3">
    <div class="row">
      <div class="col s4 offset-s4">
        <div class="row login-form">
          <div class="col s12">
            <div class="card hoverable">
              <div class="card-content">
                <span class="card-title center">Sign Up</span>
                <div class="divider"></div>
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: 'simple_form') do |f| %>
                  <div class="form-inputs row">
                    <div class="input-field col s12 email required user_email">
                      <i class="material-icons prefix">email</i>
                      <%= f.email_field :email, class: 'validate string email required', autofocus: true, required: true %>
                      <%= f.label :email, class: 'email required' do %>
                        <abbr title="required">*</abbr> Email
                      <% end %>
                    </div>
                    <div class="input-field col s12 password required user_password">
                      <i class="material-icons prefix">lock</i>
                      <%= f.password_field :password, class: 'validate password required', autocomplete: "off" %>
                      <%= f.label :password, class: 'password required' do %>
                        <abbr title="required">*</abbr> Password
                      <% end %>
                    </div>
                    <div class="input-field col s12 password required user_password">
                      <i class="material-icons prefix">lock</i>
                      <%= f.password_field :password_confirmation, class: 'validate password required', autocomplete: "off" %>
                      <%= f.label :password_confirmation, class: 'password required' do %>
                        <abbr title="required">*</abbr> Password Confirmation
                      <% end %>
                    </div>
                    <p class="col s12 boolean optional">

                      <%= f.radio_button :kind, "Volunteer" %>
                      <%= f.label :kind_volunteer, "Volunteer" %>
                    </p>
                    <p class="col s12 boolean optional">
                      <%= f.radio_button :kind, "Organization" %>
                      <%= f.label :kind_organization, "Organization" %>
                    </p>
                    
                  </div>
                  <div class="form-actions center">
                    <i class="btn waves-effect waves-input-wrapper" style="">
                      <%= f.submit "Sign Up", class: 'waves-button-input' %>
                    </i>
                  </div>
                <% end %>
                <div class="card-action">
                  <div class="devise-links">
                    <%= render "devise/shared/links" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

