<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @gig.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @gig.description %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @gig.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @gig.end_date %>
</p>

<p>
  <strong>Number of available candidatures:</strong>
  <%= @gig.number_of_available_candidatures %>
</p>

<p>
  <strong>Available:</strong>
  <%= @gig.available %>
</p>

<%= link_to 'Edit', edit_gig_path(@gig) %> |
<%= link_to 'Back', gigs_path %>
