<p id="notice"><%= notice %></p>

<p>
  <strong>Note:</strong>
  <%= @review.note %>
</p>

<p>
  <strong>Description:</strong>
  <%= @review.description %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
